<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		
		<!-- stylesheets -->
		<link rel="stylesheet" type="text/css" href="{{baseurl}}system/css/mozajik-system.css?3.1">
		<link rel="stylesheet" type="text/css" href="{{baseurl}}system/css/mozajik-gui.css?1.0">
        <link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/dojo/1.6/dijit/themes/nihilo/nihilo.css">
		<link rel="stylesheet" type="text/css" href="{{baseurl}}system/css/mozajik-admin.css?1.0">
		{% block styles %}{% endblock %}
		<!-- javascripts -->
		<script src="//ajax.googleapis.com/ajax/libs/dojo/1.6.1/dojo/dojo.xd.js" data-dojo-config='parseOnLoad: true, locale: "hu", modulePaths: { "dojo": "https://ajax.googleapis.com/ajax/libs/dojo/1.6.1/dojo", "dijit": "https://ajax.googleapis.com/ajax/libs/dojo/1.6.1/dijit", "dojox": "https://ajax.googleapis.com/ajax/libs/dojo/1.6.1/dojox" }' type="text/javascript"></script>
		<script src="{{baseurl}}system/js/mozajik-base-dojo-1.6.js?v2" type="text/javascript"></script>
		<script src="{{baseurl}}system/js/mozajik-gui-dojo-1.6.js?v1" type="text/javascript"></script>
		<script src="{{baseurl}}system/js/mozajik-tool-dojo-1.6.js?v2" type="text/javascript"></script>
		{% block scripts %}{% endblock %}
		
		{{zaj.js}}
		{% block head %}{% endblock %}
		<title>{% block title %}| mozajik.org | php+javascript framework{% endblock title %}</title>
	</head>

	<body {% block onload %}{% endblock onload %} class="nihilo">
		{% block body %}
		<div class='contentframe'>
			<div class='header'>
				<a href='{{baseurl}}'><img src='{{baseurl}}system/img/update/logo.jpg' border='0'></a>
				<div class='menu'>| <a href='{{baseurl}}/'>home</a> |</div>
			</div>
			<div class='submenu'>
				{% block submenu %}{% endblock submenu %}
			</div>
			<div class='content'>
				{% block content %}{% endblock content %}
				<br/>
			</div>
			<div class='footer'>
				| mozajik php+javascript framework | <a href='http://www.zajmedia.com/'>developed by zajmedia</a> (c) 2006-2010 | mit licence |
			</div>
		</div>
		{% endblock body %}
	</body>
</html>
