<!--[if lte IE 8]>
	{% lang 'ieupgrade/ieupgrade' %}
	<div id="ie_upgrade" class="navbar-fixed-top bg-danger" style="z-index:99999">
		<div class="container">
			<div class="row">
				<p class="col-xs-12" style="margin: 10px auto; font: bold 16px/34px 'Helvetica Neue',sans-serif;">
					{{#message#}}
					<a onclick="$('#ie_upgrade').remove()" type="button pull-right" class="close"><span aria-hidden="true">&times;</span></a>
					<a href="http://outdatedbrowser.com/{{ofw.lang}}" target="_blank" type="button" class="btn btn-success pull-right" style="margin-right: 15px">{{#button#}}</a>
				</p>
			</div>
		</div>
	</div>
<![endif]-->