{% extends 'admin/base.html' %}

{% block contenttitle %}
<div class="row">
    <div class="col-md-12">
        <h2 class="page-title">Custom Field Entries</h2>
    </div>
</div>
{% endblock contenttitle %}

{% block selectmenu %}
<script language="javascript">$('#customfieldentry-menu').addClass('active');</script>
{% endblock %}

{% block submenu %}
<input type="button" class="btn btn-success" onclick="zaj.redirect('admin/customfieldentry/add/');" value="Add new">
<input class="pull-right" id="search-box" value="{{zaj.get.query|escape}}" type="search" placeholder="Search...">

<input type="hidden" name="query" value="{{zaj.get.query|escape}}" id="queryfilter">

<script language="javascript">
    zaj.ready(function(){
        $('#search-box').$zaj().search('/admin/customfieldentry/', $('#admincontent'));
    });
</script>
{% endblock submenu %}

{% block content %}
{% if zaj.get.error %}<div class="alert alert-error center">{{zaj.get.error}}</div>{% endif %}

{% block customfieldentrylist %}
{{customfieldentries|pagination:'custom field entries'}}

<table class="table table-striped table-hover" id="customfieldentrylist">
    <tbody>
    {% foreach customfieldentries as customfieldentry %}
    <tr data-sortable='{{customfieldentry.id}}'>
        <td colspan="3">
            {{customfieldentry.data.customfield}} - {{customfieldentry.data.value}}
            <a class="btn btn-small btn-danger pull-right" onclick="if(confirm('Are you sure you want to delete?')) window.location='{{baseurl}}admin/customfieldentry/delete/?id={{customfieldentry.id}}';"><i class="glyphicon glyphicon-trash"></i></a>
            <a class="btn btn-primary btn-small pull-right" onclick="zaj.redirect('admin/customfieldentry/edit/?id={{customfieldentry.id}}');">Edit</a>
        </td>
    </tr>
    {% elseforeach %}
    <tr><td>No custom field entries found.</td></tr>
    {% endforeach %}
    </tbody>
</table>

{{customfieldentries|pagination:'custom field entries'}}
{% endblock customfieldentrylist %}

<script src="{{baseurl}}system/js/jquery/jquery-ui-1.9.2/js/jquery-ui-1.9.2.custom.min.js"></script>
<script>
    zaj.ready(function(){ $('table tbody').$zaj().sortable('/admin/customfieldentry/reorder/'); });
</script>

{% endblock content %}