{% extends 'admin/category/category_list.html' %}

{% block submenu %}
	{% insert 'admin/_edit_buttons.html' %}
{% endblock submenu %}

{% block bottommenu %}
	{% insert 'admin/_edit_buttons.html' %}
{% endblock %}

{% block content_header %}{% endblock content_header %}

{% block content %}
	<div class="tabs-container">
		<ul class="nav nav-tabs">
			<li class="active"><a  href="#category" role="tab" data-toggle="tab">{{#category_details#}}</a></li>
			{% if zaj.locale_all|count > 1 %}
				<li><a href="#locale" role="tab" data-toggle="tab">{{#category_localize#}}</a></li>
			{% endif %}
		</ul>

		<form id='saverform' class="form-horizontal label-left tab-content" role="form">
			<div role="tabpanel" class="tab-pane active" id="category">
				<div class="panel-body">
					<div class="form-group">
						<label class="col-sm-2 control-label">{{#category_name#}}</label>
						<div class="col-sm-10">
							{% input category.name object.data.name %}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">{{#category_description#}}</label>
						<div class="col-sm-10">
							{% input category.description object.data.description %}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">{{#category_url#}}</label>
						<div class="col-sm-10">
							{% input category.friendlyurl object.data.friendlyurl %}
						</div>
					</div>
					<hr/>
					<div class="form-group">
						<label class="col-sm-2 control-label">{{#category_parent#}}</label>
						<div class="col-sm-10">
							{% input category.parentcategory currentcat %}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">{{#category_featured#}}</label>
						<div class="col-sm-10">
							{% input category.featured object.data.featured %}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">{{#category_photo#}}</label>
						<div class="col-sm-10">
							{% input category.photo object.data.photo %}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">File</label>
						<div class="col-sm-10">
							{% input category.file object.data.file %}
						</div>
					</div>


					{% block content_more_fields %}{% endblock content_more_fields %}
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="locale">
				<div class="panel-body">
					{% if zaj.locale_all|count > 1 %}
					<h3>
						{{#category_localize#}}
						<small>{{#category_localize_desc#|printf:zaj.locale_default}}</small>
					</h3>
					{% foreach zaj.locale_all as locale %}
						{% if locale != zaj.locale_default %}
							<div class="well">
								<h3>{{locale}}</h3>
								<div class="form-group">
									<label class="col-sm-2 control-label">{{#category_name#}}</label>
									<div class="col-sm-10">
										{% inputlocale category.name object.translation.name locale %}
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">{{#category_description#}}</label>
									<div class="col-sm-10">
										{% inputlocale category.description object.translation.description locale %}
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">{{#category_url#}}</label>
									<div class="col-sm-10">
										{% inputlocale category.friendlyurl object.translation.friendlyurl locale %}
									</div>
								</div>
							</div>
						{% endif %}
					{% endforeach %}
					{% block content_more_localized_fields %}{% endblock content_more_localized_fields %}
					{% endif %}
				</div>
			</div>

			<input type='hidden' name='id' value="{{object.id}}">
		</form>
	</div>

{% endblock content %} 
