{% extends 'base-system.html' %}

{% block content %}

<h2>A total of {{errors|total}} errors/warnings/notices were generated since you last cleared the log.</h2>

	<p align='center'>{{errors.pagination.prev}} {{errors.pagination.next}}</p>

	{% foreach errors as error %}
	<div class='mozajik list {{error.data.errorlevel}}' onclick="$('error-details-{{error.id}}').toggleClass('hidden');">
		<strong>{{error.data.errortext}}</strong> - {{error.data.time_create|date}} {{error.data.time_create|time}}<br/>({{error.data.errorlevel}} in {{error.data.file}} on line {{error.data.line}}) <a>details</a><br/>
		<div id='error-details-{{error.id}}' class='hidden'>
			{% include '/update/error/details/' error %}
		</div>
	</div>
	{% elsefor %}
		- no recent errors! wohoo! -
	{% endfor %}
	
	<p align='center'>{{errors.pagination.prev}} {{errors.pagination.next}}</p>


{% endblock content %}
