{% extends 'base-system.html' %}

{% block content %}

{% if mozajik %}
	<h2>There is an important update available for your database!</h2>
	<br/><a onclick="if(confirm('Clicking ok will perform the update. Do not forget to back up your database!')) window.location='{{baseurl}}update/install/go/';">Click here</a> to upgrade your database to the most current version.
	<h3>Do not forget to back up your database before peforming this upgrade!</h3>
{% elseif %}
	<h2>You must activate this installation before use!</h2>
	<br/><a href='{{baseurl}}update/install/go/'>Click here</a> to activate the installation.
	<h3>If you have an existing database, do not forget to back it up before peforming this upgrade!</h3>
{% endif %}



<br/><br/>
- <a href='{{baseurl}}update/'>back to the update menu</a> -<br>
<hr>

{% endblock content %}
