{% extends 'base-system.html' %}

{% block content %}
<h2>You are now running Mozajik {{mozajik.major}}.{{mozajik.minor}}.{{mozajik.build}}{% if mozajik.beta %}beta{%endif%} (<a href="http://www.mozajik.org/download/updates/?major={{mozajik.major}}&minor={{mozajik.minor}}&build={{mozajik.build}}">check online for updates</a>)</h2>

<strong>your mozajik database is currently up-to-date,</strong> so you can now run database updates safely.

{% if mozajik.beta %}
<br/><Br/>do keep in mind that <strong>you are running a beta version of mozajik</strong>, so some features may be incomplete and unexpected bugs may still be present.
{% endif %}

<br/><br/>
- <strong><a href='{{baseurl}}'>go to site home</a> (http:{{baseurl}})<br></strong>
- <a href='{{baseurl}}update/'>go to the update menu</a><br>
<hr>

{% endblock content %}
