.dropzone .dz-preview .dz-show, .dropzone .dz-preview .dz-remove {
    position: relative;
    display: inline-block;
    min-height: 0px;
    width: auto;
    margin: 5px;
}
.dropzone .dz-preview{
    text-align: center;
}
.dropzone .dz-preview.landscape .dz-image img{
    height: 100%;
}
.dropzone .dz-preview.portrait .dz-image img{
    width: 100%;
}